@model E_StudentDomain.Model.DormPass

@{
    ViewData["Title"] = "Details";
}

<h1>Перепустка номер @Html.DisplayFor(model => model.Number)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expires)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dorm.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dd class="col-sm-12">
            <a asp-action="OpenResident" asp-route-id="@Model?.Id">Відкрити дані відповідного мешканця</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">До списку</a>
</div>
